<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
    Hi there, my name is Adam. I'm a software developer with expertise in Ruby
    on Rails. I also have experience with front end Javascript frameworks 
    such as Ember and React.
    <br>
    <br>
    I'm passionate about open source software, and in my free time I like
    to contribute to <%= link_to('Bundler', 'https://github.com/bundler/bundler/commits?author=ajwann') %>
  and <%= link_to('Exercism.io', 'https://github.com/exercism/ruby/commits?author=ajwann') %>.
  <br>
  <br>
  I currently live and work in Columbus OH, where I am also active in the
  local Ruby on Rails scene. You can often find me at the 
  <%= link_to('Mutually Human Hack Night', 'https://www.meetup.com/Mutually-Human-Hack-Night') %>
  and the <%= link_to('Columbus Ruby Brigade', 'http://columbusrb.com/' ) %>.
<br>
<br>
Feel free to check out my <%= link_to('GitHub', 'https://www.github.com/ajwann') %> or
my <%= link_to('blog', posts_path) %>.
  </div>
</div>
